.page-search-input {
  @apply w-full p-4 text-xl border-0 rounded-lg outline-none focus:outline-none
}

.page-search-input-container {
  @apply rounded-lg border border-gray-700 outline-none sticky
}

.page-search-input-icon {
  @apply text-3xl py-4 pl-4
}

.page-search-suggestions-list {
  overflow-y: scroll;
}

.page-search-suggestion-item {
  @apply p-1 rounded
}

.page-search-suggestion-item i {
  @apply pl-8 text-xs italic text-gray-600
}

.page-search-suggestion-item-icon {
  @apply pr-4
}


.lega-icon {
  font-family: 'LegaIcons';
}

.lega-icon-page-search:before {
  content: 's';
}
