<div>
  <div class="ng-tns-c1-5 ui-panel ui-widget ui-widget-content ui-corner-all">
    <div *ngFor="let aciklama of aciklamalar.controls; let i=index; let odd=odd;">
      <div class="grid grid-cols-1" [ngClass]="{ odd: odd}" [formGroup]="aciklama">
        <div class="grid grid-cols-1 aciklamaListElement">
          <div>
            <p-panel header="{{'label.aciklamalar' | translate}}" class="grid grid-cols-1">
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                  <label class="first">{{'label.dil' | translate}}</label>
                  <p-dropdown pTooltip="{{'label.dil' | translate}}" [options]="dilList" formControlName="dil"></p-dropdown>
                  <app-validation-message
                    [validationControl]="aciklama.controls['dil']"></app-validation-message>
                </div>
                <div>
                  <label class="first">{{'label.aciklama' | translate}}</label>
                  <input pTooltip="{{'label.aciklama' | translate}}" pInputText formControlName="aciklama">
                  <app-validation-message
                    [validationControl]="aciklama.controls['aciklama']"></app-validation-message>
                </div>
                <div>
                  <label class="first">{{'label.kisa.aciklama' | translate}}</label>
                  <input pTooltip="{{'label.kisa.aciklama' | translate}}" tooltipPosition="left" pInputText formControlName="kisaAciklama">
                  <app-validation-message
                    [validationControl]="aciklama.controls['kisaAciklama']"></app-validation-message>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
