<!--<app-home-page-duyuru-list></app-home-page-duyuru-list>
<div class="grid grid-cols-4 gap-4 pb-8">
  <div>
    <app-home-page-gorevlerim></app-home-page-gorevlerim>
  </div>
  <div class="col-span-3">
    <app-home-page-ajanda></app-home-page-ajanda>
  </div>
</div>-->
<div>Home Page</div>

<div class="card-container">
  <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">
    <p-card header="HEDEFLER" subheader="Alt Hedef" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/innova-logo.png" />
      </ng-template>
      <p>
        <p-badge [value]="17" severity="success" badgeSize="xlarge" />
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Detay" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">
    <p-card header="HEDEFLER" subheader="Alt Hedef" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/innova-logo.png" />
      </ng-template>
      <p>
        <p-badge [value]="17" severity="success" badgeSize="xlarge" />
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Detay" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">
    <p-card header="HEDEFLER" subheader="Alt Hedef" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/innova-logo.png" />
      </ng-template>
      <p>
        <p-badge [value]="17" severity="success" badgeSize="xlarge" />
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Detay" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="inline-block w-4rem h-4rem bg-primary font-bold text-center p-4 border-round">
    <p-card header="HEDEFLER" subheader="Alt Hedef" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/images/innova-logo.png" />
      </ng-template>
      <p>
        <p-badge [value]="17" severity="success" badgeSize="xlarge" />
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Detay" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="grid grid-cols-1">
  <app-home-page-footer></app-home-page-footer>
</div>

